**/dist
**/.venv
**egg-info
**/.vscode
.git
.gitignore
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
env/
localConfigs/
logs/
*.log
.pytest_cache/
.mypy_cache/
build/
dist/
*.egg-info/
*.DS_Store
infra/
appPackage/build/
**/.vscode/.venv/